
/* color maximum value is 255. */

#New{
    background-color: rgba(242, 255, 0, 0.544);
    box-shadow: 2px 23px 7px 0px grey;
    /* Horizonatl , vertical , blur , spread-distance   , color */
}
.Itag{
    color: blue;
}
.spantext{
    color: rgb(255, 17, 0);
}

.h1{
    color: aqua;
    text-align: center;
    font-size:100px;
    text-shadow:  -25px -15px 7px grey;
    /* Horizontal , vertical  , blur , color */
}
.y{
    color: red;
}
.b{
    color: blue;
}
.r{
    color: green;
}
.o{
    color: brown;
}
.m{
    color: black;
}
#box{
    /* box-shadow: 2px 23px 7px grey; */
    border: 2px solid black;
    height: 500px;
    width: 100%;
    /* background-color: red; */

    /* FOUR BACKGROUND IMAGE PROPERTY VERY IMPORTANT. */

    background-image: url(https://tse2.mm.bing.net/th?id=OIP.7cRYFyLoDEDh4sRtM73vvwHaDg&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#maindiv{
    display: flex;
    justify-content: space-evenly;
}

.div1{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.div2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.div3{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.div4{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}