

div{
    background-color: aqua;
    height: 90px;
  text-align: center;
  font-size: xx-large;
  word-spacing: 10px;
text-decoration: none;

}
a{
    text-decoration: none;
    color: red;
    padding-left: 10px;
}

img{
    margin-top: 0px;
    margin-left: 650px;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
border: 2px solid red;
}